<template name="InsertBook1">
    {{>quickForm collection="Books" id='insertBookForm1' type='insert'}}
</template>

<template name="InsertBook4">
    {{#autoForm id="insertBookForm4" type='insert' collection="Books"}}
        {{> afQuickFields}}
        <div>
            <button type="submit">提交</button>
        </div>
    {{/autoForm}}
</template>

<template name="InsertBook5">
    {{#autoForm id="insertBookForm5" type='insert' collection="Books"}}
        {{#each afFieldNames}}
            {{> afQuickField name=this.name style="color: orange" label-style="color: green" options=afOptionsFromSchema}}
        {{/each}}
        <div>
            <button type="submit">提交</button>
        </div>
    {{/autoForm}}
</template>

<template name="InsertBook2">
    {{#autoForm collection="Books" id="insertBookForm2" type="insert"}}
        <fieldset>
            <legend>添加一本书</legend>
            {{> afQuickField name='title'}}
            {{> afQuickField name='author'}}
            {{> afQuickField name='summary' rows=6}}
            {{> afQuickField name='cost'}}
            {{> afQuickField name='copies'}}
            {{> afQuickField name='lastCheckedOut'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
</template>

<template name="InsertBook3">
    {{#autoForm collection="Books" id="insertBookForm" type="insert"}}
        <fieldset>
            <legend>添加一本书</legend>
            {{> afQuickField name='title'}}
            {{> afQuickField name='author'}}
            {{> afQuickField name='summary' rows=6}}
            {{> afQuickField name='copies'}}
            {{> afQuickField name='lastCheckedOut'}}
            <div class="form-group{{#if afFieldIsInvalid name='cost'}} has-error{{/if}}">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{> afFieldInput name='cost'}}
                    <span class="input-group-addon">/each</span>
                </div>
                {{#if afFieldIsInvalid name='cost'}}
                    <span class="help-block">{{afFieldMessage name='cost'}}</span>
                {{/if}}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
</template>



